body{
    line-height: 1.5;/*La separacion entre lineas*/
    background-color: rgb(187, 187, 240);
}
#navbar{
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
 
}
header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }
  #main-doc {
    margin-left: 310px;

  }
.nav-link{
  text-decoration: none;
  color: black;
  border: grey;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
      }

  #navbar {
    position: absolute;
    border-right: none;
    width: 100%;
  }
  #main-doc {
    text-decoration: none;
    margin-left: 0px;
    margin-top: 270px;
  }
}
